/*------------------------------------*\
    $ADD-PLAYLIST
\*------------------------------------*/
.add-playlist {
    float: right;
    color: $secondary-text-color;

    &:hover {
        color: $base-link-color;
    }
}