/*------------------------------------*\
    $MENU-BUTTON
\*------------------------------------*/
.menu-button {
    width: $player-menu-button-dimensions;
    height: $player-menu-button-dimensions;
    line-height: $player-menu-button-dimensions;
    margin: 0;
}